<h1>Edit Message</h1>

<%= form_with model: @message do |form| %>
  <% if @message.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h4>
      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :chat_id, "Chat" %>
    <%= form.select :chat_id, options_from_collection_for_select(@chats, :id, :id, @message.chat_id), prompt: "Select chat", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :user_id, "Author" %>
    <%= form.select :user_id, options_from_collection_for_select(@users, :id, :email, @message.user_id), prompt: "Select author", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :body %>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <%= form.submit "Update Message", class: "btn btn-primary" %>
<% end %>
