<h1>Messages</h1>

<% if can? :create, Message %>
  <%= link_to "New Message", new_message_path, class: "btn btn-primary mb-3" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Body</th>
      <th>Chat</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.body %></td>
        <td><%= message.chat.id %></td>
        <td><%= message.user.email %></td>
        <td>
          <%= link_to "Show", message_path(message), class: "btn btn-outline-secondary btn-sm" %>

          <% if can? :edit, message %>
            <%= link_to "Edit", edit_message_path(message), class: "btn btn-outline-primary btn-sm" %>
          <% end %>

          <% if can? :destroy, message %>
            <%= link_to "Delete", message_path(message), method: :delete, data: { confirm: "Are you sure?", turbo: false }, class: "btn btn-outline-danger btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
