<h1>Chats</h1>

<% if can? :create, Chat %>
  <%= link_to "New Chat", new_chat_path, class: "btn btn-primary mb-3" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.sender.email %></td>
        <td><%= chat.receiver.email %></td>
        <td>
          <%= link_to "Show", chat_path(chat), class: "btn btn-outline-secondary btn-sm" %>

          <% if can? :edit, chat %>
            <%= link_to "Edit", edit_chat_path(chat), class: "btn btn-outline-primary btn-sm" %>
          <% end %>

          <% if can? :destroy, chat %>
            <%= link_to "Delete", chat_path(chat), method: :delete, data: { confirm: "Are you sure?", turbo: false }, class: "btn btn-outline-danger btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
