<h1>New Chat</h1>

<%= form_with model: @chat do |form| %>
  <% if @chat.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h4>
      <ul>
        <% @chat.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :sender_id, "Sender" %>
    <%= form.select :sender_id, options_from_collection_for_select(@users, :id, :email), prompt: "Select sender", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :receiver_id, "Receiver" %>
    <%= form.select :receiver_id, options_from_collection_for_select(@users, :id, :email), prompt: "Select receiver", class: "form-control" %>
  </div>

  <%= form.submit "Create Chat", class: "btn btn-primary" %>
<% end %>
