<h1>Start a New Chat</h1>

<%= form_for(@chat) do |f| %>
  <div class="form-group mb-3">
    <%= f.label :receiver_id, "Choose a user to chat with" %><br>
    <%= f.collection_select :receiver_id, @users, :id, :full_name, prompt: "Select a user", class: "form-control" %>
  </div>

  <%= f.hidden_field :sender_id, value: current_user.id %>

  <div class="form-group">
    <%= f.submit "Start Chat", class: "btn btn-primary" %>
  </div>
<% end %>
