<h1>Chat Details</h1>

<p><strong>ID:</strong> <%= @chat.id %></p>
<p><strong>Sender ID:</strong> <%= @chat.sender_id %></p>
<p><strong>Receiver ID:</strong> <%= @chat.receiver_id %></p>
<p><strong>Created At:</strong> <%= @chat.created_at %></p>

<%= link_to 'Back to Chats', chats_path, class: "btn btn-secondary me-2" %>
<%= link_to 'Start New Chat', new_chat_path, class: "btn btn-primary me-2" %>
<%= link_to 'Edit Chat', edit_chat_path(@chat), class: "btn btn-warning" %>
<%= link_to "Delete", chat_path(@chat), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>

<p><strong>Sender:</strong> <%= @chat.sender.full_name %></p>
<p><strong>Receiver:</strong> <%= @chat.receiver.full_name %></p>

<h3>Messages</h3>
<ul>
  <% @chat.messages.each do |message| %>
    <li><%= message.user.full_name %>: <%= message.body %></li>
  <% end %>
</ul>

