<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Whats New" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- SOLO javascript_importmap_tags -->
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= yield %>

    <% if notice %>
      <div class="alert alert-info text-center"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger text-center"><%= alert %></div>
    <% end %>
  </body>
</html>
